*{
        margin: 0;
        padding: 0;
     }
     html{
      scroll-behavior: smooth;
     }
     .nav-list{list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #2f2e2e;
        overflow: hidden;
        width: 100%;}
     .nav-list>li{float: left;}
     .nav-list>li> a{ display: block;
        color: white;
        padding: 18px 24px;
        text-align: center;
        text-decoration: none;}
      .nav-list>li> a:hover{background-color: #111}
     .search{
        padding: 10px 0px 0px 410px;
     }
     .bnt-sm{
        padding: 15px 0px 0px 10px;
     }
     /*heading*/
     .heading{
      background-color: rgb(211, 211, 211);
      height: 100px;
     }
     .heading>h1{
      font-family: 'Times New Roman', Times, serif;
      padding: 15px 0px 0px 50px;
      font-size: 60px;
     }
     .first-line{
        list-style-type: none;
        display: flex;
        
     }
     .first-line>li>img{
        width: 160px;
        height: 200px;
     }
     .sco-1{
      margin-left: 20px;
      overflow-x: scroll;
      width: 80%;
      height: 59%;
      justify-content: center;
      margin-left: 10%;
   }
   ::-webkit-scrollbar{
      display: none;
   }
     h2{
        font-family: 'Arial Narrow Bold', sans-serif;
        font-size: 25px;
        letter-spacing: -0.4px;
        padding: 20px 0px 0px 150px;
        font-variant: small-caps;
    }
    
    /*second-line*/
    .second-line{
      justify-content: center;
      display: flex;
      margin-top: 20px;

    }
    /*cards*/
    .card-1 {
        box-shadow: 0 15px 30px rgba(0,0,0,0.30), 0 11px 8px rgba(0,0,0,0.22);
        width: 200px;
        box-sizing: border-box;
        transition-duration: 2s;
        margin: 20px 80px 0px 80px ;
      }
      .card-1 > img {
        display: block;
        max-width: 80%;
        height: auto;
        margin: 0px;
        padding: 18px;
      }
      .card-1 > p {
        font-family: sans-serif;
        padding: 0px 10px 10px 10px;
        text-align: center;
      }
      .card-1:hover {
        box-shadow: 0 18px 36px #ff880096, 0 14px 11px #ff880096;
        -ms-transform: scale(1.0);
        -webkit-transform: scale(1.0); 
        transform: scale(1.0); 
      }
      .sq-container{
         display: flex;
         justify-content: center;
         padding: 0px 0px 0px 0px;
      }
      .sq1 img{
         width: 280px;
         height: 210px;
         margin: 0px 0px 0px 20px;
         border-radius: 25%;
         object-fit: cover;
         box-shadow: 0 15px 30px rgba(0,0,0,0.30), 0 11px 8px rgba(0,0,0,0.22);
      }
      .sq5{
         display: flex;
         margin: 20px;
      }
      .space{
         height: 80px;
      }
      .sq2{
         font-family: 'Times New Roman', Times, serif;
         font-size: 20px;
         
      }
      .grp1{
         margin-left: 180px;

      }
      .grp2{
         margin-left: 150px;
      }
      .grp3{
         margin-left: 140px;
      }
      .grp4{
         margin-left: 150px;
      }
   /*Founder contact card*/
      .card-2{
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
         width: 300px;
         text-align: center;
         font-family: arial;
      }
      .p-title {
         color: grey;
         font-size: 18px;
       }
       button {
         border: none;
         outline: 0;
         display: inline-block;
         padding: 8px;
         color: white;
         background-color: #000;
         text-align: center;
         cursor: pointer;
         width: 100%;
         font-size: 18px;
       }
       .f-pro>img {
         text-decoration: none;
         font-size: 22px;
         color: black;
       }
       
       button:hover, a:hover {
         opacity: 0.7;
       }
       .con-1{
         max-width: 75%;
       }
       .text-contact{
         line-height: 34px;
       }
      .container{
         display: flex;
      }

      /*footer*/
.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#282d32; min-height:250px; padding:10px 0px 25px 0px ;}


      .ser>ol>li{
         font-family:  Arial, Verdana, sans-serif;
         color: white;
         
      }
      .ser{
         text-align: center;
         margin-left: 200px;
         line-height: 29px;
         margin-top: 35px;
      }
      .ser>ol{
         list-style-type: none;
      }
      .abo{
         text-align: center;
         line-height: 29px;
         margin-left: 220px;
         margin-top: 35px;

      }
      .abo>ol>li{
         
         font-family:  Arial, Verdana, sans-serif;
         color: white;
        
      }
      .abo>ol{
         list-style-type: none;
      }
      
      
      .fol{
         line-height: 29px;
         margin-left: 330px;
         margin-top: 35px;
      }
      .fol>ol>li{
         
         font-family:  Arial, Verdana, sans-serif;
         color: white;
      }
      .fol>ol{
         list-style-type: none;
         display: flex;
      }
      .fol>ol>li>img{
         width: 60px;
         height: 60px;
         padding: 10px;

      }
      .copy{
         padding-top: 15px;
      }





      

